In [1]:
import scipy.stats as stats
import pandas as pd 
import numpy as np

In [10]:
df= pd.read_csv('D:\\dsa\\dataweek7.csv')

In [11]:
df.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

In [13]:
# 1. Carry out descriptive analytics on the dataset

In [14]:
df.describe().T

             count       mean       std   min   25%   50%    75%   max
Total Marks   28.0  32.321429  12.45452  12.0  22.5  33.0  43.25  50.0

In [15]:
#  2. Check whether female and male students scored the same marks

In [16]:
  ##null hypothesis is female and male students scored different marks
 ##alternate hypothesis is femle and male students scored the same marks
 ##alpha is 0.05

In [17]:
female=df[df.Gender=='female']
male=df[df.Gender=='male']

In [18]:
t,p=stats.ttest_ind(female['Total Marks'],male['Total Marks'])

In [19]:
print('p value is ',p)

p value is  0.4937822317960763

In [20]:
if p<0.05:
    print('reject null hypothesis\n','that is female and male students scored the same marks')
else:
    print('fail to reject null hypothesis\n','that is female and male students scored the different marks')

fail to reject null hypothesis
 that is female and male students scored the different marks

In [21]:
# 3. Whether test preparation helps the students?

In [22]:
##null hypothesis is test preparation not helps the students
##alternate hypothesis is test preparation helps the students
##alpha is 0.05

In [23]:
t_none=df[df['Test preparation']=='none']
t_completed=df[df['Test preparation']=='completed']

In [24]:
t_val,p_val=stats.ttest_ind(t_none['Total Marks'],t_completed['Total Marks'])

In [25]:
print('p value is',p_val)

p value is 0.0012671292457320106

In [26]:
if p_val<0.05:
    print('reject null hypothesis\n','That is test preparation helps the students')
else:
    print('fail to reject null hypothesis\n','that is test preparation not helps the students')

reject null hypothesis
 That is test preparation helps the students